<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{template.html}">
<head>
    <title>Pages</title>
</head>
<body>
<header layout:fragment="custom-header">
    <div style="margin-top:2%"></div>
</header>
<section class="text-center row" layout:fragment="custom-content">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form class="form-signin" th:action="@{/login}" method="post">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputLogin"></label>
            <input type="text" id="inputLogin" name="username" class="form-control" placeholder="Login" required
                   autofocus>
            <label for="inputPassword"></label>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password"
                   required>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <div></div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
    <div class="col-md-3"></div>
</section>
<footer layout:fragment="custom-footer"></footer>
<div th:insert="~{fragments/footer::footer}"></div>
</body>
</html>