<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Test</title>
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/resources/css/jumbotron.css" rel="stylesheet">
    <link href="/resources/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<header layout:fragment="custom-header">
    <h1>Header</h1>
</header>
<main role="main">
    <div class="container" layout:fragment="custom-content">
        <h1>Content</h1>
    </div>
</main>
<footer class="container fixed-bottom  panel-footer" layout:fragment="custom-footer">
    <h1>Footer</h1>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script type="text/javascript" src="/resources/js/bootstrap.min.js"></script>
</body>
</html>
